<header class="header__box">
    <a class="logo__box"                
        href="https://adalab.es/">
            <img class= "logo__image" 
             src="assets/images/logo-adalab-80px.png" 
             alt="logo adalab">
    </a>
    <nav>
        <ul class="nav__box">
            <li>
                <a class= "nav__item"
                   href="http://medium.com/adalab">
                   Blog
                </a>
            </li>
            <li>
                <a class="nav__item"
                href="http://adalab.es/contacto.html">
                Contacto
                </a>
            </li>
        </ul>
    </nav>
</header>
