.footer__box {
    background-color: $color-black400;
    min-width: 320px;
    height: 90px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy__box { 
    color: $color-grey400;
    font-family: $font-primary;
}