.main__box {
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.img { 
    background-image: url(../images/david-van-dijk-255503-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: 65%;
    background-size: cover;
    @media all and (min-width: 768px){
        background-position: 50%, bottom;
    }
    @media all and (min-width: 1024px){
        background-position: 100%;
    }

}
    .title__box {
        margin-left: 20px;
        font-family: $font-primary;
        text-transform: capitalize;
        color: white;
        width: 161px;
        font-size: 30px;
        display: flex;
        align-items: center;
        height: 100%;
        @media all and (min-width: 768px){
            width: 322px;
            margin-left: 50px;
            font-size: 60px;
        }
    }  
    .btn__box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100vw;
        align-items: flex-end;
        transform: translateX(-30px);
        margin-top: -15px;
        margin-right: 20px;
        @media all and (min-width: 768px){
            margin-right: 30px;
        }
        @media all and (min-width: 1024px){
            margin-right: 50px;
        }
    }
        .btn {
            width: 69px;
            height: 34px;
            border-radius: 16.5px;
            border: 1px solid white;
            text-transform: uppercase;
            font-family: $font-primary;
            text-transform: uppercase;
            font-size: 14px;
            color: white;
            font-weight: 500;
            background-color: $color-blue700;
        }