$color-blue700: #1daa9f; 
$color-blue400: #32decf;

$color-grey700:#676a6d;
$color-grey400:#c5c5c5;

$color-black700: #000000;
$color-black400:#252525;

$color-whiteSnow: white;
$color-greenBlue: #32decf;

$font-primary:'Rubik', sans-serif;
$font-color-nav: #4a4a4a;